CRAWLER_EMAIL=email@gmail.com
CRAWLER_PASSWORD=password
# Mongo URI for Docker
MONGODB_URI=mongodb://mongo:27017/stocksCrawler
# Mongo URI for local development
# MONGODB_URI=mongodb://localhost:27017/stocksCrawler
