CRAWLER_EMAIL=email@gmail.com
CRAWLER_PASSWORD=password
# Mongo URI for Docker
MONGODB_URI=mongodb://mongo:27017/stocksCrawler
# Mongo URI for local development
# MONGODB_URI=mongodb://localhost:27017/stocksCrawler
TOKEN_PICKLE_PATH=path
SPREADSHEET_ID=***
RANGE_NAME=Name!A1:C10
STOCK_TIME_SERIES_ENDPOINT=https://endpoint.com
STOCK_TIME_SERIES_TOKEN***
