[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
selenium = "*"
pymongo = "*"
scrapy = "*"
ipython = "*"
requests = "*"
click = "*"
flask = "*"
flask-pymongo = "*"
gunicorn = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
ipdb = "*"

[requires]
python_version = "3.7"
